.main-page-container {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.main-page-container__contact-list {
    margin-right: 100px;
    position: relative;
}

.main-page-container__contact-detail {
    position: absolute;
    left: 300px;
    top: -50px;
}

.button-wrapper {
    display: flex;
    justify-content: space-around;
}

.button-wrapper button {
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(131,118,135, 1);
}

.create-new-contact-wrapper {
    position: absolute;
    right: 350px;
    top: -50px;
}

.calls-history-wrapper {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.calls-history-button {
    font-size: 20px;
    font-weight: 800;
    color: lightcyan;
    background-color: transparent;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}
